
# Picovoice Access Key for Wake Word Detection (https://console.picovoice.ai/)
PORCUPINE_ACCESS_KEY=

# Google Gemini API Key (https://makersuite.google.com/app/apikey)
GEMINI_API_KEY=

# Elasticsearch Configuration
ES_PASSWORD=
ES_HOST=

# Environment Mode
ENVIRONMENT=

# Google Cloud TTS Credentials (Path to JSON file)
GOOGLE_APPLICATION_CREDENTIALS=